In [ ]:
df.isnull().sum()      #Calculates the number of null values in each column.
#df.columns[df.isnull().any()]     #This will return all the columns name which have null values in it.
#df.isnull().any(axis = 0).sum()    #This will return number of rows which have atleast one NaN value in it.  [axis = 1 (Column wise)  & axis = 0 (Row wise)]

## SOME IMP SYNTAX

.unstack(fill_value=0),
Purpose: Reshapes the MultiIndex Series into a pivot table (DataFrame) where:

1. Rows: country (first grouping column).

2. Columns: type (second grouping column).

3. Values: The counts from .size().

fill_value=0: If a (country, type) combination doesnâ€™t exist (e.g., no TV shows in a country), it fills the missing value with 0.