1. Import the data file from your PC.

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"D:\PYTON PROGRAMMING\PYTHON FILES\PANDAS\PANDAS-MODULE-PRACTICE\Automobile_data.csv")

3. Print first 4 rows and the last 4 rows of the data file.

In [ ]:
df.head(4)  #Prints the first 4 rows.
df.tail(4)  #Prints the last 4 rows.

4. Print company and price column only.

In [ ]:
df[['company','price']]

11. Print all the rows which have atleast one NaN value.

In [ ]:
print(df[df.isna().any(axis=1)])

12. Remove all the NaN value from the Dataframe.

In [2]:
#Remove all values here...
df.dropna(inplace=True)

13. Clean the data by capitalizing the first letter.

In [ ]:
cols = ['company', 'body-style', 'num-of-cylinders']
df[cols] = df[cols].apply(lambda x: x.str.strip().str.title())
df['engine-type'] = df['engine-type'].str.upper()
df.head(5)

5. Print all the cars from a perticular company which have price over 15000.

In [ ]:
df[(df['company'] == 'Alfa-Romero') & (df['price'] > 15000)]

6. Change the price of car at row 15 to 12000

In [4]:
df.loc[15,'price'] = 12000

7. Sum the entire price column.

In [ ]:
df.sum()['price']

7. Print average car price of each company.

In [ ]:
df.groupby('company')['price'].agg('mean')

8. Print number of cars from each company.

In [ ]:
df.groupby('company')['index'].count().sort_values(ascending=False)

9. Print all the car comapny that starts with A.

In [ ]:
print(df[df['company'].str.startswith('a')])

10. Arrange the data on the basis of price.

In [ ]:
df.sort_values(['price'], ascending = True,inplace=True)    # This will sort the entire data on the basis of price column.
# For reseting the index
df.reset_index(drop=True, inplace=True)
df['index'] = df.index

13. Replace a word with another.

In [16]:
df['num-of-cylinders'].replace({'Four': 'Eight'}, inplace=True)

14. Increase the price of Eight cylinders engine by 3000.

In [ ]:
df['price'] = df.apply(lambda x: x['price'] + 9563 if x['num-of-cylinders'] == 'Eight' else x['price'],axis=1)
df

15. Increase the horsepower of the Eight cylinders engine by an amont of 82.

In [ ]:
df['horsepower'] = df.apply(lambda x : x['horsepower'] + 82 if x['num-of-cylinders'] == 'Eight' else x['horsepower'],axis=1)

In [ ]:
df.head(10)

16. Calculate the average price of eight cylindered engine cars.

In [ ]:
df[df['num-of-cylinders'] == 'Eight']['price'].agg('mean')

17. Calulate the average price for each number of cylinders type car.

In [ ]:
df.groupby('num-of-cylinders')['price'].agg('mean').sort_values(ascending=False)

18. Print all the cars with rotor engine.

In [ ]:
df[df['engine-type'] == 'ROTOR']

19. Convert Rotor engine to Electric.

In [ ]:
df['engine-type'].replace({'ROTOR':'ELECTRIC'},inplace=True)

20. Increase the power of that Electric engine by 20 units.

In [ ]:
df['horsepower'] = df.apply(lambda row: row['horsepower'] + 20 if row['engine-type'] == 'ELECTRIC' else row['horsepower'], axis = 1)

21. Increase the price of the electric car by 6945.

In [23]:
df['price'] = df.apply(lambda row: row['price'] + 6945 if row['engine-type'] == "ELCTRIC" else row['price'], axis=1)

22. Add electric to the car brand suffix.

In [24]:
df['company'] = df.apply(lambda row : row['company'] + 'Elcetric' if row['engine-type'] == 'ELECTRIC' else row['company'], axis = 1)

22. Print all the cars of Porsche.

In [ ]:
df.loc[60, 'price'] = 45000
df_porsche = df[df['company'].str.strip().str.lower() == "porsche"]

porsche_avg = df[df['company'].str.strip().str.lower() == "porsche"]['price'].agg('mean')

power_avg = df.groupby('company')['horsepower'].agg('mean').sort_values(ascending=0)
power_avg

15. Filter Out value, if the same exist just before it.

In [ ]:
a = pd.DataFrame({'A' : [1,1,2,3,2,3,4,5,5,5,6,7,7]}) 
my_list = a['A'].tolist()       #This will convert the dataframe into a list.
new_list = [my_list[0]]

for i in range (1,len(my_list)):
    if my_list[i] != my_list[i-1]:
        new_list.append(my_list[i])

a = pd.DataFrame(new_list, columns=['A'])       #This will again convert the list into dataframe.
a

15. How do you subtract the row mean from each element in the row

In [ ]:
b = pd.DataFrame(np.random.random(size=(5,3)))   #creates a table of 5 row and 3 columns.
b.mean(axis=1)  #Calculates the mean of the values in the table along the rows(Axis = 1).
print(b - b.mean())

16. Suppose you have a data frame of 10 columns and 5 rows, Then print which column has the smallest sum.

In [ ]:
r = pd.DataFrame(np.random.random(size=(5,10)),columns=list('abcdefghij'))
r.sum(axis=0).idxmin()

17. How do you count how many unique rows a DataFrame has?

In [ ]:
df = pd.DataFrame(np.random.randint(0,2,size=(10,3)),index=list('abcdefghij'))
print(df)
nums = df.values.tolist()
unique_value = set(tuple(num) for num in nums)
unique_value_list = list(unique_value)
print(len(unique_value))

18. You and your spouse decided to let the internet name your next child. Youâ€™ve asked the great people of the web to submit their favorite names, and youâ€™ve compiled their submissions into a Series called babynames.

In [ ]:
babynames = pd.Series([
    'Jathonathon', 'Zeltron', 'Ruger', 'Phreddy', 'Ruger', 'Chad', 'Chad',
    'Ruger', 'Ryan', 'Ruger', 'Chad', 'Ryan', 'Phreddy', 'Phreddy', 'Phreddy',
    'Mister', 'Zeltron', 'Ryan', 'Ruger', 'Ruger', 'Jathonathon',
    'Jathonathon', 'Ruger', 'Chad', 'Zeltron'], dtype='string')
babynames.value_counts().loc[['Chad','Ruger','Zeltron']]
#babynames.value_counts()

19. Given, two Series bees and knees, if the ith value of bees is NaN, double the ith value inside knees.

In [6]:
bees = pd.Series([True, True, False, np.nan, True, False, True, np.nan])
knees = pd.Series([5,2,9,1,3,10,5,2], index = [7,0,2,6,3,5,1,4])

knees.loc[pd.isna(bees).to_numpy()] *= 2

After accidentally leaving an ice chest of fish and shrimp in your car for a week while you were on vacation, youâ€™re now in the market for a new vehicle ðŸš—. Your insurance didnâ€™t cover the loss, so you want to make sure you get a good deal on your new car.

Given a Series of car asking_prices and another Series of car fair_prices, determine which cars for sale are a good deal. In other words, identify cars whose asking price is less than their fair price.

In [23]:
asking_prices = pd.Series([5000, 7600, 9000, 8500, 7000], 
        index=['civic', 'civic', 'camry', 'mustang', 'mustang'])

fair_prices = {
    'civic': 5500,
    'mustang': 7500,
    'camry': 7500
}

# Correct: map the index of asking_prices
new_prices = pd.Series(asking_prices.index.map(fair_prices), index=asking_prices.index)

arr1 = np.array(asking_prices)
arr2 = np.array(new_prices)
# print(arr1)
# print(arr2)

sub = arr1 - arr2
# print(sub)

for i in range (len(sub)):
    if sub[i] <= 0:
        print(f"{i} {asking_prices.index[i]}")

0 civic
4 mustang

You suspect your local groceryâ€™s been price gouging the ground beef. You and some friends decide to track the price of ground beef every day for 10 days. Youâ€™ve compiled the data into a Series called beef_prices, whose index represents the day of each recording.
For example, beef was priced 4.21 on the first day, 4.46 on the second day, etc.
Determine which day had the biggest price increase from the prior day.

In [ ]:
import numpy as np
import pandas as pd

generator = np.random.default_rng(0)  # This creates a random number generator with a fixed seed 0  
beef_prices = pd.Series(
    data = np.round(generator.uniform(low=3, high=5, size=10), 2),  # It creates 10 random float values between 3 to 5 and round them to 2 decimal places. 
    index = generator.choice(10, size=10, replace=False)    # This selects 10 unique random integers from 0 to 9 (no repetition), which are used as the index of the Series.
)
beef_prices = beef_prices.sort_index()


# Step 1: Calculate differences between current and previous value
diffs = beef_prices.diff()

# Step 2: Find the maximum positive difference (i.e., largest increase)
max_increase = diffs.max()

# Step 3: Get the index where the max increase occurred
max_index = diffs.idxmax()
max_index

print(f"Largest increase: {max_increase:.2f} from index {max_index - 1} â†’ {max_index}")
print(f"Value changed from {beef_prices[max_index - 1]} to {beef_prices[max_index]}")

Largest increase: 1.75 from index 4 â†’ 5
Value changed from 3.08 to 4.83