In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"D:\PYTON PROGRAMMING\PYTHON FILES\PANDAS\PANDAS-MODULE-PRACTICE\NETFLIX DATA ANALYSIS\netflix_titles.csv")

# Basic Pandas Practice Questions – Netflix Dataset (Set 1)

In [ ]:
print(df.head(5),"\n")
print(df.shape,"\n")
print(df.columns)

## Data cleaning And Inspection

--> Count how many rows and columns are there in the dataset.

In [ ]:
rows = df.shape[0]   # Calculate the number of rows.
columns = df.shape[1]   # Calculate the number of columns.

print(rows)
print(columns)

--> Are there any missing values? If so, in which columns and how many?

In [ ]:
values = df.isnull().sum()
print(values)

--> Drop all rows with missing values and store in a new DataFrame.

In [24]:
cleaned_df = df.dropna()

--> What are the data types of each column?

In [ ]:
types = cleaned_df.columns
print(types.dtype)

-->  Convert the date_added column to datetime.

In [12]:
df = df.rename(columns = {'date_added':'datetime'},inplace=True)

## Exploratory Data Analysis (EDA)

--> How many unique types (e.g., Movie, TV Show) are there? Count them.

In [ ]:
df.groupby("type").size()

--> What is the most common genre (listed_in)?

In [ ]:
value_counts = df['listed_in'].value_counts()
most_common = value_counts.idxmax()
most_common

--> How many titles were added each year?

In [ ]:
count = df.groupby('release_year')['title'].count()
sorted_count = count.sort_values(ascending=0)
sorted_count

--> Find the top 10 countries by the number of titles produced.

In [ ]:
top = df['country'].value_counts()  # It returns a Series
top.head(3)

--> Show a table of total Movie vs TV Show count per country.

In [ ]:
country_content = df.groupby(['country', 'type']).size().unstack(fill_value=0).sort_index(key=lambda x: x.str.lower())
country_content

## Filtering and selection

--> List of movies released in 2020.

In [ ]:
mov_2020 = df[(df['type'] == 'Movie') & (df['release_year'] == 2020)]
mov_2020.reset_index(inplace=True)
mov_2020['title']

--> Find all titles that have the word “Love” in their title.

In [ ]:
title = df[df['title'].str.contains('Love', case = False, na=False)]['title']
title

--> List all TV Shows produced in India.

In [ ]:
tv_ind = df[(df['type'] == 'TV Show') & (df['country'] == 'India')]['title']
tv_ind

--> Find entries with duration more than 100 minutes (Hint: strip 'min' and convert to int).

In [ ]:
movies = df[ df['type'] == 'Movie']
extracted_numbers = movies['duration'].str.extract(r'(\d+)', expand=False)
duration = pd.to_numeric(extracted_numbers, errors='coerce')

1. When expand=False, the function returns:

2. A Series if the regex has only one capturing group ( ).

3. A DataFrame if the regex has multiple capturing groups ( ) ( ).

--> Display all titles where rating is "TV-MA" and type is "Movie".

In [ ]:
tv_ma_rat = df[(df['type'] == 'Movie') & (df['rating'] == 'TV-MA')]['title']
tv_ma_rat

## Aggregations & GroupBy

--> Group titles by release year and show the count.

In [ ]:
relese_year = df.groupby('release_year')['title']
count = relese_year.size()
count

--> Find the average duration of movies in minutes.

In [ ]:
movies = df[ df['type'] == 'Movie']
extracted_numbers = movies['duration'].str.extract(r'(\d+)', expand=False)
duration = pd.to_numeric(extracted_numbers, errors='coerce')

avg = duration.agg('mean')
print(f"{avg:.2f} mins")

--> Group by type and show the average number of cast members per title (Hint: use .str.split(',') and count length).

In [ ]:
df['cast_split'] = df['cast'].str.split(',').str.len().fillna(0)
avg_cast = df.groupby('type')['cast_split'].mean().round(2)
avg_cast

## Column Operation

--> Create a new column called decade (e.g., 1990s, 2000s, etc.) based on release_year.

In [ ]:
df['decade'] = df['release_year'].apply(lambda x: f"{str(x)[:3]}0s")
df

--> Create a column title_length that shows the number of characters in the title.

In [ ]:
df['title_length'] = df['title'].apply(lambda x : f"{len(str(x))}")
df

--> Extract the first genre from listed_in into a new column.

In [ ]:
df['first_genre'] = df['listed_in'].str.split(',').str[0]
df

--> What percentage of titles are produced by more than one country?

In [ ]:
multi_country = df['country'].dropna().str.contains(',')
percentage = (multi_country.sum() / df['country'].dropna().shape[0]) * 100
print(f"{percentage:.2f}% of titles are produced by more than one country.")

--> Create a frequency table of top 10 directors.

In [ ]:
df_cleaned = df.dropna(subset=['director'])
grouped = df_cleaned.groupby(['director', 'type']).size()
table = grouped.unstack(fill_value=0)
table['total'] = table.sum(axis=1)
top_directors = table.sort_values(by='total', ascending=False).head(10)

top_directors

--> Use value_counts() to find the most common duration for TV Shows.

In [ ]:
tv_shows = df[df['type'] == 'TV Show']
duration = tv_shows['duration']
common = duration.value_counts().idxmax()
print(f"The most common duration for a TV Show is {common}.")

# Advanced Pandas Practice Questions – Netflix Dataset (Set 2)

#

## Filtering & Conditions

--> Find all movies released in 2020 with a duration longer than 90 minutes.

In [ ]:
movies = df[(df['type'] == 'Movie') & (df['release_year'] == 2020) & (df['duration'] > 90)]

--> List all entries where the country field is missing.

## Using Numpy

--> Use NumPy to count how many entries have missing director info.

In [53]:
arr = df.to_numpy()
print(np.isnan(arr))

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [22]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

## Filling the null values in the dataframe.

In [43]:
df.fillna('Unknown',inplace=True)    #This will fill the all the empty cell with Unknown.
    
    #df['Director'].fillna("Unknow")    #This will only fill Unknown at the empty cells of Director column.
    #df.loc['row_index'].fillna("Unknown")  #This will fill the Unknown value at a perticular row in that Dataframe.
    
    # ® df.fillna(method = 'pad')  #This will fill the null cell with the value just above of that cell.
	# ® df.fillna(method = 'bfill') #this will fill the null cell with the value just below the cell.
	# ® df.fillna(method = 'pad' , axis = 1)  #This will fill the null cell with the value just left to that cell.
	# ® df.fillna(method = 'bfill' , axis = 1) #this will fill the null cell with the value just right to the cell.

AttributeError: 'NoneType' object has no attribute 'fillna'

## Returns the number of releases of different types on Netflix.

In [ ]:
df.groupby('type').size()

## Count number of shows starting with a perticular letter.

In [ ]:
start_with = df[df['title'].str.startswith('A')].shape[0]   #Returns the total TV Shows and Movies starts with letter A.

#df[(df['type'] == 'TV Show') & (df['title'].str.startswith('A'))].shape[0]     # Returns the number of TV Shows that starts with letter A.

## Counts the number of movies released each year.

In [ ]:
per_yr = df[df['type'] == 'Movie'].groupby('release_year')['title'].count()

## Count the movies produced by a director.

In [ ]:
director = df[ (df['type'] == 'Movie') & (df['director'] == 'Kirsten Johnson') & (df['release_year'] == 2020)].shape[0]

## Count the TV shows & Movies produced after 2005.

In [10]:
after_05 = df[ (df['release_year'] > 2005) ].shape[0]

# na_after_05 = df[ (df['release_year'] > 2005) ]
# na_after_05           #This will return all the rows and columns satisfying the above condition.

## Count the number of movies released between 2019 to 2021.

In [ ]:
bet_19_21 = df[ (df['type'] == 'Movie') & ((df['release_year'] >= 2019) & (df['release_year'] <= 2021)) ].shape[0]
bet_19_21

# na_bet_19_21 = df[ (df['type'] == 'Movie') & ((df['release_year'] >= 2019) & (df['release_year'] <= 2021)) ]
# na_bet_19_21              #This will return all the rows and columns satisfying the above condition.

## Calculate the average release periode on netlix in between 2010 to 2020.

In [24]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')     # errors='coerce' This skips those cells which is not valid date format.
df = df[df['date_added'].dt.year.between(2010,2020)]
df = df.sort_values(by='date_added')
df['gap'] = df['date_added'].diff()     #This will create a new column gap, where the gap between movie of that row to the movie of row just above, is stored.
avg = df['gap'].mean()
avg

Timedelta('0 days 12:21:58.900915903')

In [20]:
days = avg.days
seconds = avg.seconds
microseconds = avg.microseconds

hours = seconds // 3600
minutes = (seconds % 3600) // 60
seconds_remainder = seconds % 60
print(f"Average release time gap: {days} days, {hours} hours, {minutes} minutes, {seconds_remainder} seconds")

Average release time gap: 0 days, 12 hours, 21 minutes, 58 seconds

## Find which director produced most shows on netfix.

In [ ]:
a = df.groupby('director')['type'].value_counts().sort_values(ascending=0)